doctype html
html
  include /../../static/assets/lib/ldui/pug/ldui.pug
  head
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/css/index.css")

  body.p-2
    .text-center.mt-4
      h1 sandbox.js
      p: a(href="https://github.com/plotdb/sandbox.js/") github repo
      p sandboxing code editing and preview in frontend to allow user generated code in website.
    .w-1024.m-auto
      .row
        .col: .text-center.text-muted.mb-4: small Code
        .col: .text-center.text-muted.mb-4: small Preview
      .row
        .col
          textarea.p-2.
            <html><body>
              <center>
              JS is sandboxed so getting cookie won't be allowed.
              </center>
              <script>
                alert( document.cookie );
              </script>
            </body></html>

        .col
          iframe.shadow-sm
      .text-center.m-4: .btn.btn-outline-primary(onclick="funcTest()") Functional Test
    +script("https://polyfill.io/v3/polyfill.min.js?features=fetch%2CPromise%2CArray.isArray%2CArray.from%2CElement.prototype.classList")
    +script("https://cdn.jsdelivr.net/npm/bootstrap.native@2.0.27/dist/bootstrap-native-v4.min.js")
    +script("/assets/lib/ldui/ldui.min.js")
    script(src="/assets/sandbox.js/sandbox.js")
    script(src="/js/interface.js")
    script(src="/js/index.js")
